<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="tablesUser.js"></script>


</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Главаня страница<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/troubles">Накладки</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" href="/changeTimetable">Изменение расписания</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" href="/user">Список пользователей</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" href="/tables">Данные</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()" >   <abbr class="nav-link"  th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</abbr></div>
        <div  sec:authorize="isAuthenticated()">
            <form    th:action="@{/logout}" method="post">
                <input class="btn btn-signOut" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" id="DaysOfTheWeekTab" href="#DaysOfTheWeek">День недели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="ClassroomTab" data-toggle="tab" href="#Classroom">Аудитория</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="FacultyTab" href="#Faculty">Факультет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="FrequencyTab" href="#Frequency">Частота занятий</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="GroupOfStudentsTab" href="#GroupOfStudents">Группа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="HousingTab" href="#Housing">Корпус</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="ScheduleTab" href="#Schedule">Расписание</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="SubjectTab" href="#Subject">Предметы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="TeacherTab" href="#Teacher">Преподаватели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="TypeOfLessonTab" href="#TypeOfLesson">Вид занятия</a>
        </li>


    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane  container" id="Classroom">
            <table class="table table-dark mt-3">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="tab-pane active container" id="DaysOfTheWeek">
            <a href="/addRow" class="btn btn-default">Добавить запись</a>
            <table class="table table-dark mt-3" id="DaysOfTheWeekTable">

                <div>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </div>

            </table>


        </div>
        <div class="tab-pane container" id="Faculty">Faculty</div>
        <div class="tab-pane container" id="Frequency">Frequency</div>
        <div class="tab-pane container" id="GroupOfStudents">GroupOfStudents</div>
        <div class="tab-pane container" id="Housing">Housing</div>
        <div class="tab-pane container" id="Schedule">Schedule</div>
        <div class="tab-pane container" id="Subject">Subject</div>
        <div class="tab-pane container" id="Teacher">Teacher</div>
        <div class="tab-pane container" id="TypeOfLesson">TypeOfLesson</div>
    </div>

</div>

</body>
</html>